.hero-container {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 100%;

  display: flex;
  align-items: flex-end;
  position: relative;

  margin-top: var(--carousel-height);
}


.close-hero-button {
  right: 18px;

  position: absolute;

  transition-duration: 0.3s;
}

.close-hero-button.details {
  top: 18px;
}

.close-hero-button.video {
  top: 70px;

  opacity: 0;
  z-index: 5;
}

.hero-container:hover .close-hero-button.video {
  opacity: 1;
}

.close-hero-button .button {
  width: 44px;
  height: 44px;
  
  
  border-radius: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.close-hero-button.details .button {
  background-color: rgb(29, 29, 29);
  border: 1px solid rgba(237, 232, 232, 0.3);
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.close-hero-button.video .button {
  background-color: rgb(227, 224, 224);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border: 1px solid rgba(222, 222, 222, 0.3); */
}

.close-hero-button .button:before, .close-hero-button .button:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
}

.close-hero-button.details .button:before, .close-hero-button.details .button:after {
  background-color: rgba(255, 255, 255, 0.98);
}

.close-hero-button.video .button:before, .close-hero-button.video .button:after {
  background-color: rgba(0, 0, 0, 0.98);
}

.close-hero-button .button:before {
  transform: rotate(45deg);
}

.close-hero-button .button:after {
  transform: rotate(-45deg);
}

.hero-closed,
.hero-expanded {
  will-change: height;
  transition: height 0.5s;
}

.hero-closed {
  height: 0px;
}

.hero-expanded {
  height: 900px;
}

.hero-content {
  width: 70%;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition-property: opacity;
}

.hero-content.invisible {
  transition-duration: 0.1s;
  opacity: 0;
}

.hero-content.visible {
  transition-delay: 0.2s;
  transition-duration: 0.8s;
  opacity: 1;
}

.hero-title {
  font-family: Roboto-Bold;
  font-size: 72px;
  margin: 0;
}

.hero-overview {
  font-family: Roboto-Regular;
  font-size: 17px;
}

.button-container {
  display: flex;
  flex-direction: row;

  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.button-container .button {
  /* padding-right: 12px; */
  padding: 0px 17px;
}

.button-container .button .play-button,
.button-container .button .comment-button {
  border-radius: 2em;
  padding: 10px 15px;

  background-color: white;
  color: rgb(29, 29, 29);

  border: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;
  outline: none;
}

.button-container .button .play-button:hover,
.button-container .button .comment-button:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.button-container .button .play-button span,
.button-container .button .play-button svg,
.button-container .button .comment-button span,
.button-container .button .comment-button svg {
  padding: 0px 5px;
}

.button-container .button .play-button span,
.button-container .button .comment-button span {
  font-family: Roboto-Medium;
  font-size: 14px;
}

.youtube-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.close-button {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 30px;
}

.hero-title,
.hero-overview {
  color: white;
}

.hero-backdrop {
  width: 100%;
  height: 57%;
  bottom: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.82) 0%,
    rgba(0, 0, 0, 0.75) 10%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.45) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  position: absolute;

  transition-property: opacity;
}

.hero-backdrop.invisible {
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  opacity: 0;
}

.hero-backdrop.visible {
  transition-delay: 0.3s;
  transition-duration: 1.5s;
  opacity: 1;
}
