.hero-container {
  position: relative;
  min-height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  max-width: 70% !important;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-size: 72px;
  margin: 0;
}

.button { 
  background-color: #0f1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}

.youtube-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.close-button {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 30px;
}