.hero-container {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 100%;

  display: flex;
  align-items: flex-end;
  position: relative;
}

.hero-closed, .hero-expanded {
  will-change: height;
  transition: height 0.5s;
}

.hero-closed {
  height: 0px;
}

.hero-expanded {
  height: 900px;
}

.hero-content {
  width: 70%;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition-property: opacity;
}

.hero-content.invisible {
  transition-duration: 0.1s; 
  opacity: 0;
}

.hero-content.visible {
  transition-delay: 0.2s;
  transition-duration: 0.8s; 
  opacity: 1;
}

.hero-title {
  font-family: Roboto-Bold;
  font-size: 72px;
  margin: 0;
}

.hero-overview {
  font-family: Roboto-Regular;
  font-size: 17px;
}

.button {
  background-color: #0f1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}

.play-button span,
.close-button span {
  font-family: Roboto-Light;
  font-size: 13px;
}

.youtube-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.close-button {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 30px;
}

.hero-title,
.hero-overview {
  color: white;
}

.hero-backdrop {
  width: 100%;
  height: 57%;
  bottom: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.82) 0%,
    rgba(0, 0, 0, 0.75) 10%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.45) 70%,
    rgba(0, 0, 0, 0.0) 100%
  );

  position: absolute;

  transition-property: opacity;
}

.hero-backdrop.invisible {
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  opacity: 0;
}

.hero-backdrop.visible {
  transition-delay: 0.3s;
  transition-duration: 1.5s;
  opacity: 1;
}