.home-container {
  padding-top: var(--navbar-height);
  background-color: rgb(15, 16, 16);
}

.home-content-wrapper {
  padding-top: 15px;
  padding-bottom: 75px;
}

.home-content {
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
