:root {
  --navbar-height: 65px;
  --carousel-height: 69px;
  --expanded-vertical-nav-width: 240px;
  --minimized-vertical-nav-width: 86px;
  --collapsed-vertical-nav-width: 0px;
}

body {
  margin: 0;
  background-color: rgb(15, 16, 16);
}

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Light.ttf')
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Medium.ttf')
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Thin.ttf')
}
